<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password</title>
    <style>
        body { font-family: Arial; background:#f4f6f9; }
        .card {
            width: 350px;
            margin: 120px auto;
            padding: 30px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            text-align:center;
        }
    </style>
</head>
<body>

<div class="card">
    <h3>Your Password</h3>
    <p th:text="${password}"></p>
    <a href="/login">Back to Login</a>
</div>

</body>
</html>